<h1>Classifier</h1>

<div id="ml5-test"></div>

<section *ngIf="featureExtractorExampleShow">
  <h1>Image Regression using Deature Extraction with MobileNet. Build with p5.js</h1>
  <h2>(Train a Neural Network to move the red square)</h2>
  <div class="videoContainer"></div>
  <h6><span id="modelStatus">Loading base model...</span> | <span id="videoStatus">Loading video...</span></h6>
  <p><input type="range" id="slider" name="slider" min="0.01" max="1.0" step="0.01" value="0.5"></p>
  <br />

  <p><button id="addSample">Add Sample</button></p>

  <p><span id="amountOfSamples">0</span> Sample Images</p>
  <br />

  <p>
    <button id="train">Click</button>
    <span id="loss"></span>
  </p>
  <br />

  <p>
    <button id="buttonPredict">Click</button>
    <br />
  </p>
</section>

<section *ngIf="knnClassificationWithPoseNetExampleShow">
  <h2>KNN Classification on PoseNet data from webcam. Build with p5.js</h2>

  <div id="videoContainer2"></div>

  <p id="status">Loading Model...</p>

  <br />

  <p>
    <button id="addClassA">Add an Example to Class A</button>
    <button id="resetA">Reset Class A</button>
  </p>

  <p><span id="exampleA">0</span> A examples</p>

  <p>| Confidence in A is: <span id="confidenceA">0</span></p>

  <br />

  <button id="addClassB">Add an Example to Class B</button>
  <button id="resetB">Reset Class B</button>
  <p><span id="exampleB">0</span> B examples</p>

  <p>| Confidence in B is: <span id="confidenceB">0</span></p>

  <br />

  <p>
    <button id="buttonPredict2">Start predicting!</button>
    <button id="clearAll">Clear all classes</button>
  </p>

  <p>
    KNN Classifier with mobileNet model labeled this as Class: <span id="result">...</span>
    with a confidence of <span id="confidence">...</span>
  </p>
</section>
