
<main class="main-container">
  <header class="header header-4">
    <div class="branding">
      <a class="nav-link" routerLink="/">
        <span class="title">P5/ML5</span>
      </a>
    </div>

    <div class="header-nav">
      <a routerLink="/p5/dashboard"
         routerLinkActive="active"
         class="nav-link nav-text"
         (click)="selectDashboard('p5')">P5 Dashboard</a>

      <a routerLink="/ml5/dashboard"
         routerLinkActive="active"
         class="nav-link nav-text"
         (click)="selectDashboard('ml5')">ML5 Dashboard</a>
    </div>
    <form class="search">
      <label for="search-input">
        <input id="search-input" type="text" placeholder="Search for keywords...">
      </label>
    </form>
  </header>

  <nav class="subnav" *ngIf="selectedLinkRefs">
    <ul class="nav">
      <li class="nav-item" *ngFor="let linkRef of selectedLinkRefs">
        <a class="nav-item" [routerLink]="linkRef.link">{{linkRef.name}}</a>
      </li>
    </ul>
  </nav>

  <div class="content-container" style="height: 100%">
    <clr-vertical-nav *ngIf="vertNav.length > 0"
                      [clrVerticalNavCollapsible]="true"
                      [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink *ngFor="let nav of vertNav" [routerLink]="nav.link" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon [attr.shape]="nav.icon"></clr-icon>
        {{nav.name}}
      </a>
    </clr-vertical-nav>

    <div class="content-area">
      <router-outlet></router-outlet>

      <div style="margin-bottom: 40px"></div>

<!--      <router-outlet name="exampleDisplay"></router-outlet>-->
    </div>
  </div>

</main>
